In [1]:
import pandas as pd
%matplotlib inline

First import the data!

In [2]:
data = pd.read_csv("data/coffees.csv") #tells python to import a csv file
print(type(data))
print(type(data.contributor))  #each column is a pandas Series object

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [ ]:
data

In [ ]:
data.head()  #shows the first 5 rows by default
#Exe: try n=10

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
data.dtypes

In [ ]:
data.info()

In [ ]:
# help(data)
# .loc -->  Purely label-location based indexer for selection by label.
# or
# .iloc  -->  Purely integer-location based indexing for selection by position.

data.loc[1]

In [ ]:
#Exe: get first 5 rows
data.coffees

In [ ]:
data.describe(include='all')
# .describe(all) to see full information

In [ ]:
data.coffees.isnull()    #returns the null(NaN) values by boolean indexing
#Exe: show the coffee NaN rows

What type of Python objects are the columns ?

# Cleaning data

In [ ]:
data.head(10)

In [3]:
# transform coffees data type to float
data.coffees = pd.to_numeric(data.coffees ,errors="coerce")

In [ ]:
data.dtypes

Removing null values

In [4]:
data=data.dropna()   #Pandas operates on copys of objects
data.head()

             timestamp  coffees contributor
0  2011-10-03 08:22:00    397.0     Quentin
1  2011-10-04 11:48:00    410.0     Quentin
4  2011-10-05 10:47:00    464.0     Quentin
5  2011-10-05 13:15:00    481.0     Quentin
6  2011-10-06 07:21:00    503.0     Anthony

In [5]:
#casting coffee type to integers
# .astype()  or .apply()
data.coffees=data.coffees.astype(int)
data.dtypes

timestamp      object
coffees         int64
contributor    object
dtype: object

In [ ]:
data.head()

In [6]:
# pd.to_datetime()
data.timestamp = pd.to_datetime(data.timestamp)
data.dtypes

timestamp      datetime64[ns]
coffees                 int64
contributor            object
dtype: object

In [ ]:
# .describe(), passing the include kwarg to see all information
data.describe(include="all")

In [ ]:
data.dtypes

In [8]:
temp=data[['coffees']]

In [10]:
del temp['coffees']

              timestamp  coffees contributor
0   2011-10-03 08:22:00      397     Quentin
1   2011-10-04 11:48:00      410     Quentin
4   2011-10-05 10:47:00      464     Quentin
5   2011-10-05 13:15:00      481     Quentin
6   2011-10-06 07:21:00      503     Anthony
7   2011-10-06 10:04:00      513     Quentin
8   2011-10-06 12:14:00      539        Mike
9   2011-10-06 12:49:00      540     Quentin
10  2011-10-06 14:52:00      563         Ben
11  2011-10-07 07:34:00      581     Anthony
12  2011-10-07 08:37:00      587     Quentin
13  2011-10-07 11:09:00      605     Quentin
14  2011-10-07 13:14:00      616        Mike
16  2011-10-07 15:20:00      626      Mike M
17  2011-10-07 16:50:00      635      Mike M
18  2011-10-09 16:53:00      650        Colm
19  2011-10-10 07:29:00      656     Anthony
20  2011-10-10 10:13:00      673     Quentin
21  2011-10-10 13:41:00      694      Mike M
22  2011-10-10 14:02:00      699     Quentin
23  2011-10-10 15:23:00      713     Quentin
24  2011-10-11 14:09:00      770      Mike M
25  2011-10-12 08:11:00      790     Quentin
26  2011-10-12 09:57:00      799      Mike M
27  2011-10-12 10:06:00      805      Sergio
28  2011-10-12 12:01:00      818      Mike M
29  2011-10-12 12:30:00      819     Quentin
30  2011-10-12 13:56:00      837     Quentin
31  2011-10-13 09:10:00      866     Quentin
32  2011-10-13 10:52:00      880     Quentin
..                  ...      ...         ...
638 2013-01-16 18:09:00    15726      Sergio
639 2013-01-17 13:45:00    15764      Sergio
640 2013-01-21 14:07:00    15886     Quentin
643 2013-01-28 14:01:00    16195     Quentin
644 2013-01-29 13:43:00    16237     Quentin
645 2013-01-29 15:06:00    16257     Quentin
646 2013-02-04 13:25:00    16513      Sergio
647 2013-02-06 17:33:00    16659     Quentin
648 2013-02-07 13:30:00    16714      Sergio
649 2013-02-12 08:36:00    16891      Sergio
650 2013-02-12 11:39:00    16909     Quentin
651 2013-02-13 13:58:00    16977     Quentin
652 2013-02-16 11:55:00    17104     Quentin
654 2013-02-18 13:46:00    17165     Quentin
655 2013-02-21 13:44:00    17345     Quentin
656 2013-02-21 15:02:00    17354     Quentin
657 2013-02-25 13:33:00    17468     Quentin
658 2013-02-25 17:25:00    17489     Quentin
659 2013-02-27 09:33:00    17564     Quentin
660 2013-03-04 10:46:00    17789      Sergio
661 2013-03-04 11:12:00    17793     Quentin
662 2013-03-04 16:43:00    17824     Quentin
663 2013-03-05 10:42:00    17852     Quentin
664 2013-03-05 13:29:00    17868     Quentin
665 2013-03-08 10:28:00    18062     Quentin
666 2013-03-12 08:28:00    18235      Sergio
667 2013-04-05 11:20:00    18942      Sergio
668 2013-04-27 11:04:00    19698      Sergio
669 2013-09-12 15:38:00    24450     Quentin
670 2013-09-13 10:28:00    24463     Quentin

[657 rows x 3 columns]

# Visualising some data

In [ ]:
data.plot(x='timestamp', style=".-")

In [ ]:
# .tail() with ten rows
data.tail(n=10)

In [ ]:
# Use conditional indexing against the timestamp
data = data[data.timestamp < "2013-03-01"]

data.tail()

In [ ]:
data.plot(x='timestamp', style=".-")

Who are our main contributors ?

In [ ]:
# .value_counts()
data.contributor.value_counts()

In [ ]:
data.contributor.value_counts().plot(kind="bar")

In [ ]:
# Create a series of the weekdays for each entry using .dt.weekday
weekdays = data.timestamp.dt.weekday

# assign() it to our dataframe
data = data.assign(weekdays=weekdays)

data.head(5)

In [ ]:
weekday_names = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
weekday_dict = {key: weekday_names[key] for key in range(7)}

In [ ]:
data.weekdays = data.weekdays.apply(lambda x:weekday_dict[x])
data.head()

In [ ]:
weekday_counts = data.groupby("weekdays").count()

# We can reorder this dataframe by our weekday_names list
weekday_counts = weekday_counts.loc[weekday_names]

weekday_counts

In [ ]:
weekday_counts.timestamp.plot(kind="bar", title="Datapoints added on each weekday")