In [1]:
import pandas as pd
%matplotlib inline

First import the data!

In [2]:
data = pd.read_csv("data/coffees.csv") #tells python to import a csv file

In [3]:
data.head()  #shows the first 5 rows by default
#Exe: try n=10

             timestamp  coffees contributor
0  2011-10-03 08:22:00    397.0     Quentin
1  2011-10-04 11:48:00    410.0     Quentin
2  2011-10-05 07:02:00  testing     Anthony
3  2011-10-05 08:25:00      NaN     Quentin
4  2011-10-05 10:47:00    464.0     Quentin

In [4]:
data.dtypes

timestamp      object
coffees        object
contributor    object
dtype: object

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 3 columns):
timestamp      671 non-null object
coffees        658 non-null object
contributor    671 non-null object
dtypes: object(3)
memory usage: 15.8+ KB

In [6]:
#Exe: get first 5 rows
data.coffees

0        397.0
1        410.0
2      testing
3          NaN
4        464.0
5        481.0
6        503.0
7        513.0
8        539.0
9        540.0
10       563.0
11       581.0
12       587.0
13       605.0
14       616.0
15         NaN
16       626.0
17       635.0
18       650.0
19       656.0
20       673.0
21       694.0
22       699.0
23       713.0
24       770.0
25       790.0
26       799.0
27       805.0
28       818.0
29       819.0
        ...
641        NaN
642        NaN
643    16195.0
644    16237.0
645    16257.0
646    16513.0
647    16659.0
648    16714.0
649    16891.0
650    16909.0
651    16977.0
652    17104.0
653        NaN
654    17165.0
655    17345.0
656    17354.0
657    17468.0
658    17489.0
659    17564.0
660    17789.0
661    17793.0
662    17824.0
663    17852.0
664    17868.0
665    18062.0
666    18235.0
667    18942.0
668    19698.0
669    24450.0
670    24463.0
Name: coffees, Length: 671, dtype: object

In [7]:
data.describe()

                  timestamp coffees contributor
count                   671     658         671
unique                  671     654           9
top     2012-01-28 13:35:00  9134.0     Quentin
freq                      1       2         367

# Cleaning data

In [8]:
data.head(10)

             timestamp  coffees contributor
0  2011-10-03 08:22:00    397.0     Quentin
1  2011-10-04 11:48:00    410.0     Quentin
2  2011-10-05 07:02:00  testing     Anthony
3  2011-10-05 08:25:00      NaN     Quentin
4  2011-10-05 10:47:00    464.0     Quentin
5  2011-10-05 13:15:00    481.0     Quentin
6  2011-10-06 07:21:00    503.0     Anthony
7  2011-10-06 10:04:00    513.0     Quentin
8  2011-10-06 12:14:00    539.0        Mike
9  2011-10-06 12:49:00    540.0     Quentin

In [9]:
data.coffees.isnull()   #returns the null(NaN) values by boolean indexing
#Exe: show the coffee NaN rows

0      False
1      False
2      False
3       True
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15      True
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
641     True
642     True
643    False
644    False
645    False
646    False
647    False
648    False
649    False
650    False
651    False
652    False
653     True
654    False
655    False
656    False
657    False
658    False
659    False
660    False
661    False
662    False
663    False
664    False
665    False
666    False
667    False
668    False
669    False
670    False
Name: coffees, Length: 671, dtype: bool

In [10]:
# transform coffees data type to float
data.coffees = pd.to_numeric(data.coffees ,errors="coerce")

In [11]:
data.dtypes

timestamp       object
coffees        float64
contributor     object
dtype: object

Removing null values

In [15]:
data.dropna()   #Pandas operates on copys of objects
#data.head()
#you can use .fillna() instead

               timestamp  coffees contributor
0    2011-10-03 08:22:00    397.0     Quentin
1    2011-10-04 11:48:00    410.0     Quentin
4    2011-10-05 10:47:00    464.0     Quentin
5    2011-10-05 13:15:00    481.0     Quentin
6    2011-10-06 07:21:00    503.0     Anthony
7    2011-10-06 10:04:00    513.0     Quentin
8    2011-10-06 12:14:00    539.0        Mike
9    2011-10-06 12:49:00    540.0     Quentin
10   2011-10-06 14:52:00    563.0         Ben
11   2011-10-07 07:34:00    581.0     Anthony
12   2011-10-07 08:37:00    587.0     Quentin
13   2011-10-07 11:09:00    605.0     Quentin
14   2011-10-07 13:14:00    616.0        Mike
16   2011-10-07 15:20:00    626.0      Mike M
17   2011-10-07 16:50:00    635.0      Mike M
18   2011-10-09 16:53:00    650.0        Colm
19   2011-10-10 07:29:00    656.0     Anthony
20   2011-10-10 10:13:00    673.0     Quentin
21   2011-10-10 13:41:00    694.0      Mike M
22   2011-10-10 14:02:00    699.0     Quentin
23   2011-10-10 15:23:00    713.0     Quentin
24   2011-10-11 14:09:00    770.0      Mike M
25   2011-10-12 08:11:00    790.0     Quentin
26   2011-10-12 09:57:00    799.0      Mike M
27   2011-10-12 10:06:00    805.0      Sergio
28   2011-10-12 12:01:00    818.0      Mike M
29   2011-10-12 12:30:00    819.0     Quentin
30   2011-10-12 13:56:00    837.0     Quentin
31   2011-10-13 09:10:00    866.0     Quentin
32   2011-10-13 10:52:00    880.0     Quentin
..                   ...      ...         ...
638  2013-01-16 18:09:00  15726.0      Sergio
639  2013-01-17 13:45:00  15764.0      Sergio
640  2013-01-21 14:07:00  15886.0     Quentin
643  2013-01-28 14:01:00  16195.0     Quentin
644  2013-01-29 13:43:00  16237.0     Quentin
645  2013-01-29 15:06:00  16257.0     Quentin
646  2013-02-04 13:25:00  16513.0      Sergio
647  2013-02-06 17:33:00  16659.0     Quentin
648  2013-02-07 13:30:00  16714.0      Sergio
649  2013-02-12 08:36:00  16891.0      Sergio
650  2013-02-12 11:39:00  16909.0     Quentin
651  2013-02-13 13:58:00  16977.0     Quentin
652  2013-02-16 11:55:00  17104.0     Quentin
654  2013-02-18 13:46:00  17165.0     Quentin
655  2013-02-21 13:44:00  17345.0     Quentin
656  2013-02-21 15:02:00  17354.0     Quentin
657  2013-02-25 13:33:00  17468.0     Quentin
658  2013-02-25 17:25:00  17489.0     Quentin
659  2013-02-27 09:33:00  17564.0     Quentin
660  2013-03-04 10:46:00  17789.0      Sergio
661  2013-03-04 11:12:00  17793.0     Quentin
662  2013-03-04 16:43:00  17824.0     Quentin
663  2013-03-05 10:42:00  17852.0     Quentin
664  2013-03-05 13:29:00  17868.0     Quentin
665  2013-03-08 10:28:00  18062.0     Quentin
666  2013-03-12 08:28:00  18235.0      Sergio
667  2013-04-05 11:20:00  18942.0      Sergio
668  2013-04-27 11:04:00  19698.0      Sergio
669  2013-09-12 15:38:00  24450.0     Quentin
670  2013-09-13 10:28:00  24463.0     Quentin

[657 rows x 3 columns]

In [13]:
#casting coffee type to integers
# .astype()  or .apply()
data.coffees=data.coffees.astype(int)
data.dtypes

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
data.head()

In [ ]:
# pd.to_datetime()
data.timestamp = pd.to_datetime(data.timestamp)
data.dtypes

In [ ]:
# .describe(), passing the include kwarg to see all information
data.describe(include="all")

In [ ]:
data.dtypes

# Visualising some data

In [ ]:
data.plot(x='timestamp', style=".-")

In [ ]:
# .tail() with ten rows
data.tail(n=10)

In [ ]:
# Use conditional indexing against the timestamp
data = data[data.timestamp < "2013-03-01"]

data.tail()

In [ ]:
data.plot(x='timestamp', style=".-")

Who are our main contributors ?

In [ ]:
# .value_counts()
data.contributor.value_counts()

In [ ]:
data.contributor.value_counts().plot(kind="bar")

In [ ]:
# Create a series of the weekdays for each entry using .dt.weekday
weekdays = data.timestamp.dt.weekday

# assign() it to our dataframe
data = data.assign(weekdays=weekdays)

data.head()

In [ ]:
weekday_names = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
weekday_dict = {key: weekday_names[key] for key in range(7)}

In [ ]:
def weekfunc(index):
    return weekday_dict[index];

In [ ]:
data.weekdays = data.weekdays.apply(weekfunc)
data.head()

In [ ]:
weekday_counts = data.groupby("weekdays").count()

# We can reorder this dataframe by our weekday_names list
weekday_counts = weekday_counts.loc[weekday_names]

weekday_counts

In [ ]:
weekday_counts.timestamp.plot(kind="bar", title="Datapoints added on each weekday")